[mod-name]
metal-and-stars=‹История›Металл и звёзды
[mod-description]
metal-and-stars=‹История›Это огромный космос за пределами Солнечной системы. Много новых мест, новых машин, технологий и уникальных процессов.
[mod-setting-name]
is-nix-frozen-enabled=Нить требует обогрева
[mod-setting-description]
is-nix-frozen-enabled=Это сделает Нить такой же, как Аквило, требующей обогрева.
# Неоман — это фамилия. V — римская цифра для 5.
# Никс — латинское слово для ночи
# Цирка — латинское слово, похожее на кольцо
# Мирандус — латинское слово, означающее «сюрприз»
# Калидус — от англ. «hot», означающее «жаркий»
# Сенестела — латинское слово, означающее «старая звезда»
[space-location-name]
shipyard=Нейман V
nix=Нить
ringworld=Цирка
mirandus-a=Mирандус-А
calidus-senestella-gate-senestella=Телепорт в Калидус
calidus-senestella-gate-calidus=Телепорт в Сенестеллу
[space-location-description]
shipyard=Искусственная спутниковая станция, с необычно спокойными космическими обломками. Разбросанные повсюду наниты — микроскопические многофункциональные роботы — скорее всего, как раз то, что и разрушило эту станцию, и то, что удерживает её вместе до сих пор. Условия похожи на платформу в космосе.
nix=Таурус — планета с исключительно длинными ночами. Также здесь обнаружены аномальные [entity=dark-matter-vent], содержащие много энергии, если удастся их добыть. Условия на [planet=nix] такие же холодные, как и на [planet=aquilo] — ресурсов много, но добыча их в холоде может быть сложной.
ringworld=Конструированное кольцо вокруг прохладной звезды. Одна половина кольца полностью заросла, а другая — пустыня. Здесь всегда день, поэтому солнечные технологии очень надёжны.
mirandus=Разрушенная планета, существующая в квантовой энтанглменте. Сюда нельзя приземлиться, но орбитальные астероиды Мирандита можно добыть для [item=quantite-a], минерала с изменяющимися свойствами.
calidus-senestella-gate-senestella=Прецедентная технология, эта дверь позволяет кораблям быстро путешествовать между двумя точками в пространстве. Эта врата ведут в Калидус (стартовую систему).
calidus-senestella-gate-calidus=Прецедентная технология, эта дверь позволяет кораблям быстро путешествовать между двумя точками в пространстве. Эта врата ведут в Сенестеллу (Металл и звёзды).
[autoplace-control-names]
nix_enemy_base=Вражеские базы на Нить
ringworld_robot_enemy_base=Вражеские роботы на кольцевом мире
ringworld_snapper_enemy_base=Вражеские хвататели на кольцевом мире
[asteroid-chunk-names]
mirandite-asteroid-chunk=Кусок астероида Мирандита
[surface-property-name]
local-electricity-grid=Локальная электросеть
[surface-property-unit]
local-electricity-grid=__1__ ГВт
[technology-name]
planet-discovery-shipyard=Космический корабль для обнаружения планет
basic-low-gravity-assembly=Базовая сборка в низкой гравитации
platform-power-pylons=Пилоны питания платформы
nanite-extraction=Извлечение нанитов
nanite-platform-assembly=Сборка платформы нанитов
nanite-science-pack=Научный пакет нанитов
planet-discovery-nix=Обнаружение планеты Нить
nix-heating-tower=Тепловая башня Нить
crude-slush-processing=Переработка сырых жиж
high-pressure-manufacturing=Высокое давление в производстве
dark-matter-processing=Обработка тёмной материи
antimatter-catalyst=Антиматериальный катализатор
dark-matter-crystal=Тёмноматериальный кристалл
anomaly-science-pack=Аномальный научный пакет
planet-discovery-ringworld=Обнаружение кольцевого мира
bitumen-processing=Обработка битумов
heavy-water-processing=Обработка тяжёлой воды
basic-glass-processing=Основная обработка стекла
lenscrafting=Гравировка линз
glass-recycling=Переработка стекла
gold-processing=Обработка золота
advanced-insulative-material=Продвинутый термоизоляционный материал
ring-science-pack=Научный пакет кольца
gold-wired-electronics=Золотая проводка
planet-discovery-mirandus=Обнаружение Мирандуса
mirandite-processing=Обработка Мирандита
neodymium-processing=Обработка неодима
quantum-stabilization=Квантовая стабилизация
quantum-science-pack=Квантовый научный пакет
overclock-module=Модуль перегрузки
overclock-module-2=Модуль перегрузки 2
overclock-module-3=Модуль перегрузки 3
# Гаусс — это фамилия известного учёного Карла Фридриха Гаусса
gauss-rockets=Гауссовские ракеты
quantum-ore-conversion=Квантовое преобразование руды
thorium-enrichment=Обогащение тория
thorium-ammo=Снаряды с торием
prototype-mech-armor=Прототип механической брони
antimatter-robots=Роботы с антиматерией
nanite-rocket-construction=Конструирование ракет с нанитами
insulated-rocket-body=Изолированное тело ракеты
superdense-rocket-fuel=Сверхплотное топливо для ракет
pyrolysis=Пиролиз
alternative-asteroid-processing=Альтернативная обработка астероидов
precursor-machines=Предшественники машин
high-speed-processor=Высокоскоростной процессор
quantum-ore-conversion-1=Квантовое преобразование руды 1
dark-matter-fuel=Тёмноматериальное топливо
dark-matter-reactor-fuel=Тёмноматериальное топливо реактора
space-fuel-productivity=Производительность топлива в космосе
dark-matter-refinement-productivity=Производительность обработки тёмной материи
gold-refinement-productivity=Производительность обработки золота
bullet-productivity=Производительность пуль
rocket-ammo-productivity=Производительность ракетных снарядов
railgun-ammo-productivity=Производительность снарядов рельсотрона
module-productivity-basic=Основная производительность модулей
module-productivity-intermediate=Промежуточная производительность модулей
module-productivity-advanced=Продвинутая производительность модулей
mechanical-bioculture=Механическая биокультура
advanced-bioculture=Продвинутая биокультура
[technology-description]
planet-discovery-shipyard=Космический корабль для обнаружения планет
basic-low-gravity-assembly=Базовая сборка в низкой гравитации
platform-power-pylons=Пилоны питания платформы
nanite-extraction=Извлечение нанитов
nanite-platform-assembly=Сборка платформы нанитов
nanite-science-pack=Научный пакет нанитов
planet-discovery-nix=Обнаружение планеты Нить
nix-heating-tower=Тепловая башня Нить
crude-slush-processing=Переработка сырых жиж
high-pressure-manufacturing=Высокое давление в производстве
dark-matter-processing=Обработка тёмной материи
antimatter-catalyst=Антиматериальный катализатор
dark-matter-crystal=Тёмноматериальный кристалл
anomaly-science-pack=Аномальный научный пакет
planet-discovery-ringworld=Обнаружение кольцевого мира
bitumen-processing=Обработка битумов
heavy-water-processing=Обработка тяжёлой воды
basic-glass-processing=Основная обработка стекла
lenscrafting=Гравировка линз
glass-recycling=Переработка стекла
gold-processing=Обработка золота
advanced-insulative-material=Продвинутый термоизоляционный материал
ring-science-pack=Научный пакет кольца
gold-wired-electronics=Золотая проводка
planet-discovery-mirandus=Обнаружение Мирандуса
mirandite-processing=Обработка Мирандита
neodymium-processing=Обработка неодима
quantum-stabilization=Квантовая стабилизация
quantum-science-pack=Квантовый научный пакет
overclock-module=Модуль перегрузки
overclock-module-2=Модуль перегрузки 2
overclock-module-3=Модуль перегрузки 3
# Гаусс — это фамилия известного учёного Карла Фридриха Гаусса
gauss-rockets=Гауссовские ракеты
quantum-ore-conversion=Квантовое преобразование руды
thorium-enrichment=Обогащение тория
thorium-ammo=Снаряды с торием
prototype-mech-armor=Прототип механической брони
antimatter-robots=Роботы с антиматерией
nanite-rocket-construction=Конструирование ракет с нанитами
insulated-rocket-body=Изолированное тело ракеты
superdense-rocket-fuel=Сверхплотное топливо для ракет
pyrolysis=Пиролиз
alternative-asteroid-processing=Альтернативная обработка астероидов
precursor-machines=Предшественники машин
high-speed-processor=Высокоскоростной процессор
quantum-ore-conversion-1=Квантовое преобразование руды 1
dark-matter-fuel=Тёмноматериальное топливо
dark-matter-reactor-fuel=Тёмноматериальное топливо реактора
space-fuel-productivity=Производительность топлива в космосе
dark-matter-refinement-productivity=Производительность обработки тёмной материи
gold-refinement-productivity=Производительность обработки золота
bullet-productivity=Производительность пуль
rocket-ammo-productivity=Производительность ракетных снарядов
railgun-ammo-productivity=Производительность снарядов рельсотрона
module-productivity-basic=Основная производительность модулей
module-productivity-intermediate=Промежуточная производительность модулей
module-productivity-advanced=Продвинутая производительность модулей
mechanical-bioculture=Механическая биокультура
advanced-bioculture=Продвинутая биокультура
[entity-name]
barometric-vice=Барометрические тиски
microculture-vat=Микрокультурная ванна
quantum-stabilizer=Квантовый стабилизатор
microgravity-lab=Микрогравитационная лаборатория
microgravity-assembler=Микрогравитационный ассемблер
liquid-fuel-heating-tower=Liquid fuel heating tower
antimatter-construction-robot=Антиматериальный строительный робот
antimatter-logistic-robot=Антиматериальный логистический робот
small-mirandite-asteroid=Малый астероид Мирандита
medium-mirandite-asteroid=Средний астероид Мирандита
big-mirandite-asteroid=Большой астероид Мирандита
huge-mirandite-asteroid=Огромный астероид Мирандита
iron-copper-ore=Железо-медь руда
coal-stone-ore=Угольно-каменная руда
dark-matter-vent=Тёмноматериальный вентиль
crude-slush=Сырая жижа
heavy-water-vent=Тяжёлая вода
gold-sands=Золотые пески
military-scrap=Военный металлолом
ringworld-detritus=Песчаный отход
neumann-conduit=Неймановский конduit
space-chest-ms=Космический сейф
robot-spawner=Спавнер роботов
hostile-construction-bot=Враждебный строительный робот
jellyfish-spawner=Спавнер медуз
glowing-jellyfish=Светящаяся медуза
carbon-iceberg-huge=Огромный углеродный айсберг
carbon-iceberg-big=Большой углеродный айсберг
carbon-iceberg-medium=Средний углеродный айсберг
carbon-iceberg-small=Малый углеродный айсберг
carbon-iceberg-tiny=Крошечный углеродный айсберг
[entity-description]
neumann-conduit=Частично подключён к электросети разрушенной платформы и производит (функционально) бесплатную энергию на Нить
[item-name]
overclock-module=Модуль перегрузки 1
overclock-module-2=Модуль перегрузки 2
overclock-module-3=Модуль перегрузки 3
prototype-mech-armor=Прототип механической брони
mirandite-asteroid-chunk=Кусок астероида Мирандита
neodymium-ore=Руда неодима
thorium=Торий
uranium-233=Уран-233
neodymium-plate=Лист неодима
empty-fuel-canister=Пустой топливный баллон
quantite-a=Квантина А
quantite-b=Квантина Б
quantite-c=Квантина С
quantum-shard-a=Квантовый черепок А
quantum-shard-b=Квантовый черепок Б
quantum-shard-c=Квантовый черепок С
quantum-science-pack=Квантовый научный пакет
volatile-quantum-science-pack=Неустойчивый квантовый научный пакет
unstable-quantum-science-pack=Неустойчивый квантовый научный пакет
inert-quantum-science-pack=Инертный квантовый научный пакет
ice-xv=Лед XV
dense-stone-brick=Плотный каменный кирпич
antimatter=Антиматерия
dark-matter-chunk=Тёмноматериальный кусок
dark-matter-compressed=Сжатая тёмная материя
diamond=Алмаз
dark-matter-crystal=Тёмноматериальный кристалл
liquid-fuel-heating-tower=Liquid fuel heating tower
anomaly-science-pack=Аномальный научный пакет
dark-matter-fuel-cell=Тёмноматериальная топливная ячейка
depleted-fuel-cell=Истощённая топливная ячейка
dark-matter-fuel=Тёмноматериальное топливо
nanites=Наниты
nanite-science-pack=Нанитный научный пакет
multilayer-insulation=Многослойная изоляция
gold-foil=Золотая фольга
aspheric-lens=Асперическая линза
high-speed-processor=Высокоскоростной процессор
optical-resonator=Оптический резонатор
bone-fragments=Костные осколки
bitumen=Битум
ring-science-pack=Научный пакет кольца
barometric-vice=Барометрические тиски
microculture-vat=Микрокультурная ванна
quantum-stabilizer=Квантовый стабилизатор
microgravity-assembler=Микрогравитационный ассемблер
neumann-conduit=Неймановский конduit
microgravity-lab=Микрогравитационная лаборатория
thorium-rounds-magazine=Магазин снарядов с торием
thorium-cannon-shell=Снаряд с торием
pyrolytic-carbon=Пиролитический углерод
space-chest-ms=Космический сейф
nanite-cargo-bay=Бортовая нанитная камера
uranium-fuel-cell-233=Топливная ячейка урана-233
thermo-bacteria=Термофильные бактерии
radio-bacteria=Радиотрофные бактерии
petro-bacteria=Петробактерии
algae-bacteria=Альговые бактерии
thermo-bacteria-cultivation=Культивирование термофильных бактерий
thermo-bacteria-fermentation=Ферментация термофильных бактерий
radio-bacteria-cultivation=Культивирование радиотрофных бактерий
petro-bacteria-cultivation=Культивирование петробактерий
ammoniac-bacteria-cultivation=Культивирование аммониакобактерий
algae-bacteria-cultivation=Культивирование альговых бактерий
iron-ore-from-stone=Железная руда из камня
copper-ore-from-iron-ore=Медная руда из железной руды
stone-from-copper-ore=Камень из медной руды
liquid-rocket-fuel=Liquid rocket fuel
liquid-nuclear-fuel=Liquid nuclear fuel
liquid-dark-matter-fuel=Liquid dark matter fuel
empty-liquid-rocket-fuel=Empty liquid rocket fuel
empty-liquid-nuclear-fuel=Empty liquid nuclear fuel
empty-liquid-dark-matter-fuel=Empty liquid dark matter fuel
canister-liquid-rocket-fuel=Canister liquid rocket fuel
canister-liquid-nuclear-fuel=Canister liquid nuclear fuel
canister-liquid-dark-matter-fuel=Canister liquid dark matter fuel
nano-rocket-part=Nano rocket part
ring-rocket-part=Ring rocket part
anomalous-rocket-part=Anomalous rocket part
[tile-name]
snow-patchy-grass=Снежная полосатая трава
ice-rough-nix=Шершавый лёд Нить
ice-smooth-nix=Гладкий лёд Нить
empty-space-shipyard=Пустой космический док
space-platform-foundation-shipyard=Космическая платформа-основа
gray-goo-tile=Грей-гутайл
ring_sand_1=Искусственный песок 1
ring_sand_2=Искусственный песок 2
ring_undergrowth_thin=Тонкая растительность на кольце
ring_undergrowth_thin_dark=Тонкая растительность на кольце (темная)
ring_undergrowth_thick=Густая растительность на кольце
ring_undergrowth_thick_dark=Густая растительность на кольце (темная)
sand-1-ringworld=Песок 1 кольцевого мира
sand-2-ringworld=Песок 2 кольцевого мира
blue-grass-2=Искусственная трава 2
blue-grass-2-light=Искусственная трава 2 (светлая)
blue-grass-2-dark=Искусственная трава 2 (темная)
undergrowth-thin=Тонкая растительность
undergrowth-thin-dark=Тонкая растительность (темная)
undergrowth-thick=Густая растительность
undergrowth-thick-dark=Густая растительность (темная)
[recipe-category-name]
compression=Сжатие
quantum=Квантовое
nanotech=Нанотехнологии
overclock=Перегрузка
conversion=Конверсия
